.asideMenu {
  width: 780px;
  height: 80px;
  position: relative;
  padding: 0;
  
}

.asideMenu .title {
  font-size: 24px;
  position: relative;
  text-align:justify;
  line-height: 1.5;
  margin:auto 23%;
}

.asideMenu .btn {
  position: absolute;
  top: -8%;
  padding: 40px 10px;
}

.asideMenu .list .optionTitle {
  display: block;
  padding: 0;
  margin: 0;
  line-height: 1.5;
}

dt{
  cursor: pointer;
  float: left;
  margin: auto 20px;
  padding: 20px auto;
  
}

.asideMenu .list .optionTitle :hover {
  color: #D1EDE1;
} 

table{
  margin:auto 30px;
  width:500px;  
}

#mychart2{
  height: 400px;
  width: 300px;

}
#mychart3{
  height: 400px;
  width: 300px;

}
#mychart4{
  height: 400px;
  width: 300px;

}
