.asideMenu {
  width: 780px;
  height: 80px;
  background-color: #474747;
  position: relative;
  border-left: 5px solid #7BC5A1;
  -webkit-box-shadow: 0 0 5px rgba(23, 23, 54, 0.6);
          box-shadow: 0 0 5px rgba(23, 23, 54, 0.6);
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  padding: 0;
  
}



.divre{
  float: left;
  width: 145px;
  padding: 0;
  margin: 0;
  text-align: left;
  font-size: medium;
  font-family: 標楷體;
}


p{
  cursor: pointer;
  font-size: 1.25em;
}
.asideMenu .list .optionTitle {
  color: #7BC5A1;
  display: block;
  padding: 0;
  margin: 0;
  padding-left: 90px ;
  line-height: 1.5;
}

.asideMenu .list .optionTitle :hover {
  color: #D1EDE1;
} 