body {
	/*background-color: #D1EDE1;*/
	background-image: linear-gradient(to bottom, #fafff0 0%, #faf0e6 100%);
	background-attachment: fixed; 
	margin: 0;
	padding: 0;
}

#div1 {
    text-align: center;
    margin-top: 1em;
    margin-bottom:4em;
}

#div1 img {
    width: 375px;
}


.coitem {
    display: flex;
    justify-content: center;
    align-items: center;
}
        
.cover {
    width: 350px;
    border: solid 2px #9ff19fda;
    border-radius: 1px;
    border-left: 5px soli #9ff19fda;
    border-right: 5px solid #9ff19fda;
    border-bottom: 5px solid #8fd48fda;
    border-top: 5px solid #8cd48cda;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
            
        }

.box {
	display: flex;
	justify-content: center;
	align-items: center;
}

.box p {
	font-family: 'Noto Serif TC', serif;
}

#container1 {
	background-color: #96e496e5;
	display: inline-block;
	width: 300px;
    border-left: 1px solid rgb(167, 164, 164);
    border-right: 1px solid rgb(167, 164, 164);
    border-bottom: 1px solid rgb(167, 164, 164);
	border-top: 1px solid #ccc;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-top: 5px;
	text-align: center;
    box-shadow: 5px 0px 10px rgba(112, 153, 89, 0.719);
}

#glass {
	background: rgba(255, 254, 242, 0.877);
	border: 1px solid rgb(222, 230, 203);
	border-top: 1px solid rgb(218, 216, 191);
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	width: 300px;
	height: 400px;
	position: relative;
}


.water1 {
    background-image: linear-gradient(to top, #f8b73d 0%, #fff462 100%);
	/*background-color: rgb(179, 176, 176);*/
	background-position: top right;
	position: absolute;
	bottom: 0px;
	width: 150px;
	height: 10px;
	-webkit-transition: all 3s ease-out;
	-moz-transition: all 3s ease-out;
	-o-transition: all 3s ease-out;
	transition: 2px 2px 2px 8px;
}

.water1-2 {
	background-image: linear-gradient(to top, #5aa1d8 0%, #acdce3 100%);
	/*background-color: rgb(16, 177, 16);*/
	background-position: top right;
	position: absolute;
	bottom: 0px;
	left: 150px;
	width: 150px;
	height: 10px;
	-webkit-transition: all 3s ease-out;
	-moz-transition: all 3s ease-out;
	-o-transition: all 3s ease-out;
	transition: 2px 2px 2px 8px;;
}

.water2 {
	height: 200px;
	background-position: top left 50%;
	-webkit-transition: all 3s ease-out;
	-moz-transition: all 3s ease-out;
	-o-transition: all 3s ease-out;
	transition: all 3s ease-out;
	color: rgb(5, 15, 110);
    font-size: 20px;
}

.water25 {
	height: 300px;
	background-position: top left;
	-webkit-transition: all 3s ease-out;
	-moz-transition: all 3s ease-out;
	-o-transition: all 3s ease-out;
	transition: all 3s ease-out;
}

.water3 {
	height: 350px;
	background-position: top left;
	-webkit-transition: all 3s ease-out;
	-moz-transition: all 3s ease-out;
	-o-transition: all 3s ease-out;
	transition: all 3s ease-out;
	color: rgb(114, 5, 5);
    font-size: 20px
}

section{
    margin-left: 70%;
    padding-bottom: -10em;
}

footer {
    margin-left:65%;
    margin-top: 0%;
    overflow: auto;
    color: #22ad40;
}

.form {
	display: flex;
	justify-content: center;
	align-items: center;
}

form {
	margin: 10px;
}


#landlord {
	position:relative;
	display: flex;
	justify-content: center;
	align-items: center;
 	margin: 0;
	padding: 0;             
	}
#live2d {
            position:absolute;
            bottom:0px;
            border-radius: 50% 50% 0 0;
            display: inside;
            margin-left:200px;
            

}
        
        .coverb {
        	position:absolute;
            bottom:0px;
            background: #9ff19fda;
            width: 25px;
            height: 15px;
            border: solid 1px rgb(201, 201, 194);
            border-radius: 50% 50% 0 0;
            display: inside;
            padding-bottom:0;
        }