<%
function getFormattedDate(date) {
  var year = date.getFullYear();
  var month = (1 + date.getMonth()).toString();
  month = month.length > 1 ? month : '0' + month;
  var day = date.getDate().toString();
  day = day.length > 1 ? day : '0' + day;
  return year + '/' + month + '/' + day;
}
%>
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>溫濕度資料</title>
<style type="text/css">
body {
	font-family:"微軟正黑體", "黑體-繁", sans-serif;
}
#main {
	width:380px;
}
table {
   width:100%;
   border: 2px solid #166466;
   border-spacing: 0;
}
th {
	text-align: left;
	background-color:#54B86C;
	color:#FFF;
	padding:4px;
}
td {
	padding-left:4px;
	border-bottom: 1px solid #ddd;
}
a.prev {
	float:left;
	text-decoration:none
}
a.next {
	float:right;
	text-decoration:none
}
</style>
</head>

<body>
<h1>最新溫濕度</h1>
<div id="main">
<table>
  <tbody>
    <tr>
      <th>類型</th>
      <th>時間</th>
    </tr>
    <%
       docs.forEach( function(d) {
    %>
    <tr>
      <td><%= d['類型'] %></td>
      <td><%= getFormattedDate(d['時間']) %></td>
    </tr>
    <% }); %>
  </tbody>
</table>
<br>
<% if (page > 1) { %>
  <a href='/?p=<%= Number(page)-1 %>' class="prev">&lt;&lt; 前一頁</a> 
<% } %>
<% if (page != lastPage) { %>
  <a href='/?p=<%= Number(page)+1 %>' class="next">下一頁 &gt;&gt;</a>
<% } %>
</div>
</body>
</html>
